@use "variables" as *;
@use "mixins" as *;
@use "typography" as *;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

.nav {
  display: flex;
  flex-direction: column;
  background-color: $bandsite-black;
  @include tablet-desktop {
    flex-direction: row;
  }

  &__logo {
    align-self: center;
    height: auto;
    padding: 1rem 1rem 0.5rem 1rem;
  }

  &__bar {
    display: flex;
    justify-content: space-around;

    &--links {
      text-decoration: none;
      color: $white;
      text-align: center;
      padding: 0.5rem 0 0.5rem 0;
    }

    &--links:hover {
      border-bottom: 0.1875rem solid $white;
      font-weight: 600;
    }

    &--links:active {
      border-bottom: 0.1875rem solid $white;
    }
  }

  &__description {
    padding: 0 1rem;
  }
}

.footer {
  background-color: $bandsite-black;
  color: $white;
  padding: 0.5rem 0;

  &__icons {
    display: flex;
    padding: 0 1rem;

    &--container {
      display: flex;
      flex-direction: column;
    }
    &--imgs {
      padding: 0 1.5rem 1.5rem 0;
      height: 1.5rem;
    }
  }

  &__title {
    padding: 1rem 1rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
  }

  &__logo {
    padding: 3rem 1rem 0.5rem 1rem;
  }

  &__copyright {
    padding: 0 1rem;
  }
}

.footer__agent--booking {
  padding: 1rem 0 0 0;
}

.footer__agent--state {
  padding: 0 0 1rem 0;
}

.footer__email {
  padding: 1rem 0 1.5rem 0;
}

.footer__company--address {
  padding: 1rem 1rem 0 0;
}

.footer__copyright {
  font-weight: 400;
}

.footer__agent--title,
.footer__company--title {
  font-weight: 600;
}

.footer__title {
  font-weight: 600;
}
