@use "variables" as *;
@use "mixins" as *;
@use "typography" as *;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

.nav {
  display: flex;
  flex-direction: column;
  background-color: $bandsite-black;
  color: $white;
}

.nav__logo {
  align-self: center;
  width: 40%;
  height: auto;
  padding: 16px 16px 8px 16px;
}
.nav__bar {
  display: flex;
  justify-content: space-around;
  padding: 0px 0px 8px 0;
}

.nav__description {
  padding: 0 16px;
}

.footer {
  background-color: $bandsite-black;
}
