@use "variables" as *;
@use "mixins" as *;
@use "typography" as *;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

.nav {
  display: flex;
  flex-direction: column;
  background-color: $bandsite-black;
  color: $white;
  padding: 0 16px;

  @include tablet-desktop {
    padding: 0 36px;
  }
}

.nav__logo {
  align-self: center;
  width: 40%;
  height: auto;
  padding: 16px 16px 8px 16px;
}
.nav__bar {
  display: flex;
  justify-content: space-around;
  padding: 0px 0px 8px 0;
}

.nav__description {
  padding: 0 16px;
}

.footer {
  background-color: $bandsite-black;
  color: $white;
}

.footer__icons {
  display: flex;
  padding: 0 16px;
  @include tablet-desktop {
    padding: 0 36px;
  }
}

.footer__title {
  padding: 0 16px;
  @include tablet-desktop {
    padding: 0 36px;
  }
}

.footer__info {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  @include tablet-desktop {
    padding: 0 36px;
  }
}

.footer__logo {
  padding: 0 16px;
  @include tablet-desktop {
    padding: 0 36px;
  }
}

.footer__copyright {
  padding: 0 16px;
  @include tablet-desktop {
    padding: 0 36px;
    @include desktop {
      padding: 0 80px;
    }
  }
  // @include desktop {
  //   padding: 0 80px;
  // }
}
