@use "./mixins" as *;

@font-face {
  font-family: "Avenir Next";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format("otf");
  font-weight: 600;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf") format("otf");
  font-weight: 700;
}

// Desktop & Tablet Text Styles

// Mobile Text Styles

.page-header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;

  @include tablet-desktop {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
}

.section-header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;

  @include tablet-desktop {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}

.subheader {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;

  @include tablet-desktop {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}

.body-copy {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  width: 88%;
  @include tablet-desktop {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}

.footer-copy {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;

  @include tablet-desktop {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}

.labelsbuttons {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;

  @include tablet-desktop {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
}
