// Primary Colors
.bandsite-black {
  color: #323232;
}

.silver {
  color: #afafaf;
}

.white {
  color: #ffffff;
}

// Secondary Colors
.bandsite-darkblack {
  color: #000000;
}

.mercury {
  color: #e1e1e1;
}

.alabaster {
  color: #fafafa;
}
