@use "partials/globals";
@use "partials/mixins" as *;
@use "partials/variables" as *;

.hero {
  display: flex;
  align-items: center;
  background-image: url("/assets/images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  min-height: 60vw;
  position: relative;

  @include tablet-desktop {
    height: 58vw;
    background-position: bottom;
  }

  @include desktop {
    min-height: 55vw;
  }

  &__border {
    position: absolute;
    width: 100%;
    min-height: 60vw;
    background-color: $bandsite-black;
    opacity: 0.5;
    @include tablet-desktop {
      height: 58vw;
      background-position: bottom;
    }
    @include desktop {
      min-height: 55vw;
    }
  }
  &__heading {
    padding: 0 16px;
    z-index: 1;
    font-weight: 500;
    color: white;
    @include tablet-desktop {
      padding: 0 2.25rem;
    }
  }
}

// Headlines

.headlines {
  @include desktop {
    padding: 0 5rem;
  }

  &__img {
    width: 100%;
    height: 55vw;
    object-fit: cover;
    object-position: bottom;
    @include tablet-desktop {
      height: 43vw;
      object-position: center;
    }
    @include desktop {
      height: 35vw;
    }

    &--container {
      display: flex;
      padding: 0 1rem 1rem 1rem;
      height: 55vw;
      border: 0;
      @include tablet-desktop {
        height: 43vw;
        padding: 0 5.625rem 3.25rem 5.625rem;
      }
      @include desktop {
        height: 35vw;
        padding: 0 5.625rem 2.25rem 5.625rem;
      }
    }
  }
  &__heading {
    padding: 1.5rem 1rem 1rem 1rem;
    font-weight: 600;

    @include tablet-desktop {
      padding: 3rem 2.25rem 2.25rem 2.25rem;
    }
  }

  &__text {
    padding: 0.5rem 1rem;
    @include tablet-desktop {
      // padding: 0 4.25rem;
      width: 48%;
      padding: unset;
    }
    @include desktop {
      width: 100%;
      padding: 0.5rem;
    }

    &--quote {
      padding: 0 1rem 0.5rem 1rem;
      font-weight: 550;
      width: 83%;

      @include tablet-desktop {
        padding: 0 0rem 0.5rem 5.625rem;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 600;
        width: 82%;
      }
      @include desktop {
        width: 80%;
      }
    }
    &--arthur {
      padding: 0 1rem 0.5rem 1rem;
      font-weight: 550;
      width: 83%;
      @include tablet-desktop {
        padding: 0 0 0.5rem 5.625rem;
        font-size: 15px;
        width: unset;
      }
    }
    &--container {
      display: flex;
      flex-direction: column;
      @include tablet-desktop {
        flex-direction: row;
        padding: 1.5rem 5.625rem;
        justify-content: space-around;
      }
    }
  }

  &__subhead {
    padding: 1rem 1rem 0.5rem 1rem;
    font-weight: 500;
    @include tablet-desktop {
      padding: 3rem 0 0 5.65rem;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 600;
    }
  }
}

// Gallery
.gallery {
  flex-direction: column;
  background-color: $alabaster;
  padding: 1rem 1rem 0.5rem 1rem;
  @include tablet-desktop {
    padding: 1.5rem 1rem 0.5rem 1rem;
  }
  @include desktop {
    padding: 1.5rem 4rem 0.5rem 4rem;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include tablet-desktop {
      margin: 3vw 0;
    }
  }

  &__image {
    width: 100%;
    height: 55vw;
    margin: 4px 0;
    @include tablet-desktop {
      width: 30%;
      height: 16vw;
      padding: 0 0.625rem 0 0.625rem;
      width: unset;
    }
    @include desktop {
      width: 30%;
      height: 15vw;
      padding: 0 0.625rem 0 0.625rem;
      width: unset;
    }
  }

  &__title {
    font-weight: 600;
    padding: 0 0 0.5rem 1rem;

    @include desktop {
      padding: 0 2.375rem;
    }
  }
}

//Comment Section Form Fields
.comment {
  display: flex;
  flex-direction: column;
  padding: 16px;

  @include tablet-desktop {
    padding: 16px 48px 24px 48px;
  }

  &__form--container {
    display: flex;

    @include tablet-desktop {
      padding: 0px 39px;
    }

    @include desktop {
      padding: 0 220px;
    }
  }

  &__label--name {
    display: flex;
    flex-direction: column;
    color: $silver;
    font-size: 0.75rem;
    font-weight: 500;

    margin: 0 0 10px 0;
    @include tablet-desktop {
      padding: 16px;
    }

    @include desktop {
      padding: 16px 16px 16px 14px;
    }
  }

  &__label--comment {
    display: flex;
    flex-direction: column;
    margin: 0 0 16px 0;
    color: $silver;
    font-size: 12px;
    font-weight: 500;
    @include tablet-desktop {
      min-height: 48px;
      padding: 0 16px;
    }
    @include desktop {
      padding: 16px 16px 16px 14px;
    }
  }

  &__input--name {
    border: 1px solid $mercury;
    padding: 12px;
    border-radius: 4px;
    border-color: #e1e1e1;
    background-color: #fafafa;
  }
  // Comment Button
  &__button {
    width: 100%;
    max-height: 40px;
    border-radius: 0.25rem;
    color: $white;
    background-color: $bandsite-black;
    font-size: 0.9375rem;
    line-height: 0.25rem;
    font-weight: 400;
    padding: 1rem;
    margin: 0 0 16px 0;

    @include tablet-desktop {
      width: 9.375rem;
    }
  }

  &__button:hover {
    background-color: $bandsite-darkblack;
  }
  &__button--container {
    @include tablet-desktop {
      display: flex;
      justify-content: flex-end;
      margin: 0 16px 0 0;
    }
  }

  &__container--top {
    display: flex;
    flex-direction: column;

    &--text {
      display: flex;
      justify-content: space-between;
    }
  }

  &__container--info {
    display: flex;
  }
  &__container--time {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: $silver;
  }
  &__input--container {
    width: 100%;
  }

  &__input--comment {
    padding-bottom: 50px;
    border: 1px solid $mercury;
    font-size: 14px;
    padding-left: 8px;
    padding: 12px 0 44px 14px;
    border-radius: 4px;
    border-color: #e1e1e1;
    background-color: #fafafa;
    resize: none;
  }
}

.comment__container--name {
  font-weight: 500;
  padding: 16px 0 0 0;
}

.comment__container--text {
  font-size: 13px;
  font-weight: 400;
  padding: 8px 0;

  @include tablet-desktop {
    font-size: 14px;
  }
}
.comment__container--time {
  padding: 16px 0 0 0;
}

.comment__heading {
  font-weight: 600;
  margin: 16px 0;
  @include tablet-desktop {
    font-size: 32px;
  }
  @include desktop {
    padding: 0px 0 0 24px;
  }
}

.comment__avatars {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  object-fit: cover;
  object-position: left;
  background-color: #e1e1e1;
  margin: 16px 8px 0 0;

  @include tablet-desktop {
    height: 48px;
    width: 48px;
  }
}

.comment__bottom {
  @include tablet-desktop {
    padding: 0px 41px;
  }
  @include desktop {
    padding: 0 220px;
  }
}
.comment__container {
  border-bottom: $mercury solid 1px;
  border-top: $mercury solid 1px;
  stroke-width: 1px;
  @include tablet-desktop {
    padding: 16px 0;
  }
}

.avatars {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  object-fit: cover;
  object-position: left;
  margin: 16px 8px 0 0;

  @include tablet-desktop {
    height: 48px;
    width: 48px;
    margin: 26px 8px 0 0;
  }
  @include desktop {
    height: 48px;
    width: 48px;
    margin: 26px 0 0 0;
  }
}

.divider {
  stroke-width: 1px;
  background-color: $mercury;
  padding: 0 12px;
}
