@use "partials/globals";
@use "partials/mixins" as *;
@use "partials/variables" as *;

.hero {
  display: flex;
  align-items: center;
  background-image: url("/assets/images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  min-height: 60vw;
  position: relative;

  @include tablet-desktop {
    height: 58vw;
    background-position: bottom;
  }

  @include desktop {
    min-height: 55vw;
  }

  &__border {
    position: absolute;
    width: 100%;
    min-height: 60vw;
    background-color: $bandsite-black;
    opacity: 0.5;
    @include tablet-desktop {
      height: 58vw;
      background-position: bottom;
    }
    @include desktop {
      min-height: 55vw;
    }
  }
  &__title {
    padding: 0 16px;
    z-index: 1;
    font-weight: 500;
    color: white;
    @include tablet-desktop {
      padding: 0 2.25rem;
    }
  }
}

// Headlines

.headlines {
  @include desktop {
    padding: 0 5rem;
  }

  &__img {
    width: 100%;
    height: 55vw;
    object-fit: cover;
    object-position: bottom;
    @include tablet-desktop {
      height: 43vw;
      object-position: center;
    }
    @include desktop {
      height: 35vw;
    }

    &--container {
      display: flex;
      padding: 0 1rem 1rem 1rem;
      height: 55vw;
      border: 0;
      @include tablet-desktop {
        height: 43vw;
        padding: 0 5.625rem 3.25rem 5.625rem;
      }
      @include desktop {
        height: 35vw;
        padding: 0 5.625rem 2.25rem 5.625rem;
      }
    }
  }
  &__title {
    padding: 1.5rem 1rem 1rem 1rem;
    font-weight: 600;

    @include tablet-desktop {
      padding: 3rem 2.25rem 2.25rem 2.25rem;
    }
  }

  &__quote {
    padding: 0 1rem 0.5rem 1rem;
    font-weight: 550;
    width: 83%;

    @include tablet-desktop {
      padding: 0 0rem 0.5rem 5.625rem;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 600;
      width: 82%;
    }
    @include desktop {
      width: 80%;
    }
  }
  &__arthur {
    padding: 0 1rem 0.5rem 1rem;
    font-weight: 550;
    width: 83%;
    @include tablet-desktop {
      padding: 0 0 0.5rem 5.625rem;
      font-size: 15px;
      width: unset;
    }
  }
  &__text {
    padding: 0.5rem 1rem;
    @include tablet-desktop {
      // padding: 0 4.25rem;
      width: 48%;
      padding: unset;
    }
    @include desktop {
      width: 100%;
      padding: 0.5rem;
    }
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    @include tablet-desktop {
      flex-direction: row;
      padding: 1.5rem 5.625rem;
      justify-content: space-around;
    }
  }
  &__subheading {
    padding: 1rem 1rem 0.5rem 1rem;
    font-weight: 500;
    @include tablet-desktop {
      padding: 3rem 0 0 5.65rem;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 600;
    }
  }
}

// Gallery
.gallery {
  flex-direction: column;
  background-color: $alabaster;
  padding: 1rem 1rem 0.5rem 1rem;
  @include tablet-desktop {
    padding: 1.5rem 1rem 0 1rem;
  }
  @include desktop {
    padding: 1.5rem 4rem 0 4rem;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include tablet-desktop {
      margin: 3vw 0;
    }
  }

  &__item-img {
    width: 100%;
    height: 55vw;
    margin: 4px 0;
    @include tablet-desktop {
      width: 30%;
      height: 16vw;
      padding: 0 0.625rem 0 0.625rem;
      width: unset;
    }
    @include desktop {
      width: 30%;
      height: 15vw;
      padding: 0 0.625rem 0 0.625rem;
      width: unset;
    }
  }

  &__title {
    font-weight: 600;
    padding: 0 0 0.5rem 1rem;

    @include desktop {
      padding: 0 2.375rem;
    }
  }
}

.comment {
  display: flex;
  flex-direction: column;
  padding: 16px;

  &__top {
    display: flex;

    &--name {
      width: 100%;
      min-height: 36px;
      padding: 12px;
      display: inline-block;
      border: 1px solid $mercury;
      border-radius: 4px;
      box-sizing: border-box;
    }

    &--comment {
      width: 100%;
      min-height: 85px;
      padding: 12px;
      display: inline-block;
      border: 1px solid $mercury;
      border-radius: 4px;
      box-sizing: border-box;
    }
    &--button {
      width: 100%;
      height: 40px;
      border-radius: 4px;
      color: $white;
      background-color: $bandsite-black;
      font-size: 0.625rem;
      line-height: 1.25rem;
      font-weight: 700;
    }
  }
  &__right {
    padding: 12px;
  }
}

.avatars {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  object-fit: cover;
  object-position: left;
}

.divider {
  stroke-width: 1px;
  background-color: $mercury;
}
