@font-face {
  font-family: "Avenir Next";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format("otf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf") format("otf");
  font-weight: 700;
}
.page-header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .page-header {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
}

.section-header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .section-header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}

.subheader {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .subheader {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}

.body-copy {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  width: 88%;
}
@media screen and (min-width: 768px) {
  .body-copy {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}

.footer-copy {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .footer-copy {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}

.labelsbuttons {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .labelsbuttons {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

.nav {
  display: flex;
  flex-direction: column;
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  .nav {
    flex-direction: row;
  }
}
.nav__logo {
  align-self: center;
  height: auto;
  padding: 1rem 1rem 0.5rem 1rem;
}
@media screen and (min-width: 768px) {
  .nav__logo {
    padding: 2rem 1.5rem 1.5rem 2.5em;
  }
}
.nav__links {
  display: flex;
  justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .nav__links {
    align-items: center;
  }
}
.nav__link {
  text-decoration: none;
  color: #e1e1e1;
  text-align: center;
  padding: 0.5rem 0 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .nav__link {
    align-items: center;
    padding: 2rem 0 1.5rem 0;
    margin: 0 1.5rem;
  }
}
.nav__link:hover {
  border-bottom: 0.1875rem solid #ffffff;
  font-weight: 600;
}
.nav__link:active {
  border-bottom: 0.1875rem solid #ffffff;
}

.footer {
  background-color: #323232;
  color: #ffffff;
  padding: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 1.5rem 0;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    padding: 3.125rem;
  }
}
.footer__icons {
  display: flex;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .footer__icons {
    padding: 0 1rem 0 0;
  }
}
.footer__icons--imgs {
  padding: 0 1.5rem 1.5rem 0;
  height: 7vw;
}
@media screen and (min-width: 768px) {
  .footer__icons--imgs {
    padding: 0 0.8rem 0 1rem;
    height: 3vw;
  }
}
@media screen and (min-width: 1024px) {
  .footer__icons--imgs {
    padding: 0 0.5rem 0.3rem 1rem;
    height: 2vh;
    width: 2vw;
  }
}
.footer__icon--container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__icon--container {
    flex-direction: row;
    padding: 0px 0 24px;
    align-items: flex-end;
  }
}
@media screen and (min-width: 1024px) {
  .footer__icon--container {
    justify-content: space-between;
  }
}
.footer__title {
  padding: 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .footer__title {
    padding: 0rem 2.4rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__title {
    padding: 0 2.2rem;
  }
}
.footer__info {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .footer__info {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1024px) {
  .footer__info {
    justify-content: flex-start;
    padding: 0 0 0 2.2rem;
  }
}
.footer__logo {
  padding: 3rem 1rem 0.5rem 1rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    display: none;
  }
}
.footer__copyright {
  padding: 0 1rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    padding-left: 2.5rem;
  }
}
.footer__agent--booking {
  padding: 1rem 0 0 0;
}
.footer__agent--state {
  padding: 0 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .footer__agent--state {
    padding: unset;
  }
}
.footer__email {
  padding: 1rem 0 1.5rem 0;
}
.footer__company--address {
  padding: 1rem 1rem 0 0;
}
.footer__agent--title {
  font-weight: 600;
}
.footer__company--title {
  font-weight: 600;
}
.footer__title {
  font-weight: 500;
}
.footer__backlogo {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__backlogo {
    display: block;
    padding-left: 10rem;
    padding-bottom: 0.625rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__backlogo {
    padding-right: 5.5rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__left--container {
    display: flex;
    align-items: flex-end;
  }
}
@media screen and (min-width: 1024px) {
  .footer__left--container {
    display: flex;
    align-items: flex-end;
  }
}
.footer__company {
  padding: 0 20px 0 0;
}
.footer__agent {
  padding: 0 20px 0 0;
}

.hero {
  display: flex;
  flex-direction: column;
  background-image: url("/assets/images/hero-shows.jpg");
  background-size: cover;
  background-position: center;
  height: 90vw;
  position: relative;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 75vw;
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    height: 63vw;
    background-size: cover;
    background-position: center;
    justify-content: center;
  }
}
.hero__container {
  display: flex;
}
.hero__border {
  position: absolute;
  width: 100%;
  height: 90vw;
  background-color: #323232;
  opacity: 0.5;
}
@media screen and (min-width: 768px) {
  .hero__border {
    height: 75vw;
    background-position: bottom;
  }
}
@media screen and (min-width: 1024px) {
  .hero__border {
    height: 63vw;
  }
}
.hero__border--text {
  padding: 1.1875rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 84%;
}
@media screen and (min-width: 768px) {
  .hero__border--text {
    padding: 1.1875rem 2.5rem;
  }
}
.hero__border--frame {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .hero__border--frame {
    justify-content: flex-start;
  }
}
.hero__album {
  z-index: 1;
  color: white;
  font-weight: 400;
  padding: 0.75rem 0 0 0;
}
@media screen and (min-width: 768px) {
  .hero__album {
    font-weight: 500;
    padding: 2.75rem 0 0 0;
  }
}
.hero__title {
  z-index: 1;
  font-weight: 500;
  color: white;
  padding: 1.25rem 0 0 0;
  width: 84%;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-weight: 500;
    padding: 1rem 0 0 0;
  }
}
@media screen and (min-width: 1024px) {
  .hero__title {
    width: 100%;
  }
}
.hero__frame {
  z-index: 1;
  font-weight: 500;
  color: white;
  text-align: center;
  height: 34vw;
  width: 89vw;
  border: none;
}
@media screen and (min-width: 768px) {
  .hero__frame {
    padding: 1.25rem 2.25rem;
    height: 21vw;
    width: 56vw;
  }
}
@media screen and (min-width: 1024px) {
  .hero__frame {
    height: 11vw;
    width: 40vw;
    margin-top: 5vh;
  }
}

@media screen and (min-width: 768px) {
  .shows {
    padding: 2rem 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .shows {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1024px) {
  .shows__box {
    width: 75%;
  }
}
.shows__title {
  padding: 1.5rem 1rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .shows__table {
    display: flex;
  }
}
.shows__label {
  color: #afafaf;
}
@media screen and (min-width: 768px) {
  .shows__label {
    padding: 0 0 2rem 0;
  }
}
.shows__date {
  font-weight: 500;
}
.shows.shows__container.selected {
  background-color: #e1e1e1;
}
.shows__container:not(.selected):hover {
  background-color: #fafafa;
}
.shows__button {
  width: 100%;
  max-height: 40px;
  border-radius: 0.25rem;
  color: #ffffff;
  background-color: #323232;
  font-size: 1.125rem;
  line-height: 0.25rem;
  font-weight: 500;
  padding: 1rem;
  margin: 0 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .shows__button {
    width: 150px;
  }
}
.shows__button--container {
  width: 90%;
  padding: 0 0.9375rem 0;
}
@media screen and (min-width: 768px) {
  .shows__button--container {
    width: 25%;
    padding: 3rem 0.9375rem 1.5rem;
  }
}
.shows__button:hover {
  background-color: #000000;
}
@media screen and (min-width: 768px) {
  .shows__container:not(:first-of-type) .shows__button--container {
    padding: 1rem 0.9375rem 0;
  }
}
@media screen and (min-width: 768px) {
  .shows__container:not(:first-of-type) .shows__label {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .shows__container:not(:first-of-type) .shows__location--container {
    padding: 1.5rem 1rem 0 1rem;
  }
}
@media screen and (min-width: 768px) {
  .shows__container:not(:first-of-type) .shows__venue--container {
    padding: 1.5rem 1rem 0 1rem;
  }
}
@media screen and (min-width: 768px) {
  .shows__container:not(:first-of-type) .shows__date--container {
    padding: 1.5rem 1rem 0 1rem;
  }
}

.shows__location--container,
.shows__venue--container,
.shows__date--container {
  padding: 0.5rem 1rem;
}
@media screen and (min-width: 768px) {
  .shows__location--container,
  .shows__venue--container,
  .shows__date--container {
    width: 25%;
  }
}

.divider {
  border-bottom-color: #e1e1e1;
}

.shows__container {
  cursor: pointer;
}/*# sourceMappingURL=shows.css.map */